SECRET_KEY=django-insecure-airbnb-marketplace-super-secret-key-2026-secure
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
FRONTEND_URL=http://localhost:3000,https://airbnb-zeta-seven.vercel.app
JWT_ACCESS_TOKEN_LIFETIME=60
JWT_REFRESH_TOKEN_LIFETIME=7
